In [2]:
import pandas as pd
from Twitterpreprocessor import TwitterPreprocessor
from sklearn.feature_extraction.text import CountVectorizer
data = pd.read_csv("./twitterdataset/twitter_human_bots_dataset1.csv")
data =data.drop(['Unnamed: 0','geo_enabled','default_profile','default_profile_image','account_age_days','profile_image_path','profile_background_image_path','split'], axis=1)
data["account_type"].value_counts()

human    25013
bot      12425
Name: account_type, dtype: int64

# delet columns that contains nan values

In [20]:
data = pd.read_csv("./data.csv",lineterminator='\n')
data =data.drop('Unnamed: 0', axis=1)
data

/tmp/ipykernel_50285/2570465201.py:1: DtypeWarning: Columns (0,3,4,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data.csv",lineterminator='\n')

,image,background_image,verified,statuses,screen_name,display_name,description,location,url,date_joined,...,likes,lists,twitter_user_id,tweet_language,tweets_this_week,retweet_ratio,retweeted_count,tweets_by_day_of_week,tweets_by_hour_of_day,account_type
0,https://pbs.twimg.com/profile_images/145899544...,http://abs.twimg.com/images/themes/theme11/bg.gif,False,7098,paty_castroo,PatrÃ­cia Castro,NaN,"MaringÃ¡, Brasil",NaN,2009-07-04 22:41:51,...,12213,2,53779179,NaN,0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",bot
1,https://pbs.twimg.com/profile_images/632916759...,http://abs.twimg.com/images/themes/theme3/bg.gif,False,270,CBirckner,Carli Birckner,Television producer. Emmy Award winner. Disney...,"Baltimore, MD",NaN,2010-01-17 22:54:19,...,1484,2,105916557,en,0.0,16.0,103418.0,"[9, 4, 12, 15, 5, 0, 3]","[1, 4, 5, 0, 1, 0, 1, 1, 0, 0, 4, 0, 0, 0, 3, ...",human
2,https://pbs.twimg.com/profile_images/158696080...,http://abs.twimg.com/images/themes/theme1/bg.png,False,14302,amf_jay,JD,self discovery ðŸ’¡ ðŸ§,NaN,NaN,2012-03-01 06:05:32,...,2958,2,509788597,en,0.0,77.0,867392.0,"[52, 14, 19, 24, 24, 29, 32]","[25, 15, 9, 20, 6, 10, 2, 9, 1, 1, 3, 0, 3, 1,...",human
3,https://pbs.twimg.com/profile_images/977012905...,http://abs.twimg.com/images/themes/theme6/bg.gif,False,4585,SaraCavolo,Sara Cavolo,NaN,"Brooklyn, NY",NaN,2009-09-01 04:52:30,...,7983,3,70601327,en,0.0,54.0,2996382.0,"[19, 34, 42, 41, 28, 17, 15]","[10, 17, 18, 5, 1, 0, 0, 0, 1, 0, 1, 2, 7, 18,...",human
4,https://pbs.twimg.com/profile_images/668449819...,http://abs.twimg.com/images/themes/theme14/bg.gif,True,15851,DavidHenaoModel,David Henao,Productor de TelevisiÃ³n - Embajador de @Tienda...,"Miami, FL",https://t.co/KPAyvqMibx,2010-01-27 17:17:23,...,20105,172,108999927,und,0.0,10.0,66477.0,"[33, 23, 25, 24, 34, 28, 33]","[7, 17, 5, 3, 1, 0, 0, 2, 0, 0, 2, 6, 14, 14, ...",human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34049,https://pbs.twimg.com/profile_images/712018970...,http://abs.twimg.com/images/themes/theme14/bg.gif,True,60100,AshAlexiss,Ashley Alexiss,"Self Made Plus Model, #BeautyIsNotASize, CEO @...","Los Angeles, CA",https://t.co/7nNQF782OV,2010-12-07 08:11:16,...,61532,876,223764929,en,8.0,47.0,1375535.0,"[28, 33, 25, 31, 22, 28, 33]","[7, 18, 13, 13, 16, 9, 6, 12, 6, 5, 1, 0, 0, 1...",human
34050,https://pbs.twimg.com/profile_images/141825399...,http://abs.twimg.com/images/themes/theme9/bg.gif,True,40277,ahmemis,Ahmet MemiÅŸ,Gazeteci/Journalist,NaN,https://t.co/0wll8Iymf4,2010-12-04 13:17:22,...,1,182,222789645,tr,0.0,0.0,15350.0,"[21, 67, 36, 18, 22, 18, 18]","[5, 0, 0, 0, 0, 1, 0, 2, 1, 6, 7, 9, 3, 7, 4, ...",human
34051,https://pbs.twimg.com/profile_images/142309872...,http://abs.twimg.com/images/themes/theme10/bg.gif,False,6679,Yuvannamontalvo,Yuvanna Montalvo,Modelo y Actriz Venezolana/ Venezuelan Model &...,NaN,NaN,2009-10-06 23:53:30,...,28,372,80438218,zxx,0.0,8.0,18899.0,"[25, 23, 26, 42, 29, 31, 24]","[23, 26, 21, 8, 1, 2, 0, 0, 0, 2, 0, 0, 4, 10,...",human
34052,https://pbs.twimg.com/profile_images/157735786...,http://abs.twimg.com/images/themes/theme1/bg.png,True,2580,IAmVarunTej,Varun Tej Konidela,Indian!...Actor!...Need no more!,Hyderabad,https://t.co/kJoeCCukod,2013-03-24 21:04:16,...,871,378,1296642259,en,1.0,4.0,145792.0,"[23, 22, 20, 85, 20, 14, 16]","[0, 2, 1, 26, 25, 17, 9, 7, 7, 7, 12, 5, 24, 6...",human
34053,https://pbs.twimg.com/profile_images/160574287...,http://abs.twimg.com/images/themes/theme11/bg.gif,False,3566,tiagopoeta,Tiago Poeta,"ðŸ“–Poeta, Autor, Escritor, AcadÃªmico. Dois Livro...",NaN,https://t.co/Wu7BylmZN9,2012-06-08 18:51:31,...,953,25,602979254,pt,14.0,52.0,1771.0,"[18, 35, 20, 12, 33, 54, 24]","[6, 4, 16, 1, 0, 0, 0, 0, 1, 1, 6, 4, 3, 18, 1...",human

In [22]:

#delet columns that contains nan values
data = data.dropna(axis=1, how='all')
#delet rows that contains nan values
# data = data.dropna()
data=data.drop_duplicates(subset="screen_name",keep='first')
data

,image,background_image,verified,statuses,screen_name,display_name,description,location,url,date_joined,...,likes,lists,twitter_user_id,tweet_language,tweets_this_week,retweet_ratio,retweeted_count,tweets_by_day_of_week,tweets_by_hour_of_day,account_type
0,https://pbs.twimg.com/profile_images/145899544...,http://abs.twimg.com/images/themes/theme11/bg.gif,False,7098,paty_castroo,PatrÃ­cia Castro,NaN,"MaringÃ¡, Brasil",NaN,2009-07-04 22:41:51,...,12213,2,53779179,NaN,0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",bot
1,https://pbs.twimg.com/profile_images/632916759...,http://abs.twimg.com/images/themes/theme3/bg.gif,False,270,CBirckner,Carli Birckner,Television producer. Emmy Award winner. Disney...,"Baltimore, MD",NaN,2010-01-17 22:54:19,...,1484,2,105916557,en,0.0,16.0,103418.0,"[9, 4, 12, 15, 5, 0, 3]","[1, 4, 5, 0, 1, 0, 1, 1, 0, 0, 4, 0, 0, 0, 3, ...",human
2,https://pbs.twimg.com/profile_images/158696080...,http://abs.twimg.com/images/themes/theme1/bg.png,False,14302,amf_jay,JD,self discovery ðŸ’¡ ðŸ§,NaN,NaN,2012-03-01 06:05:32,...,2958,2,509788597,en,0.0,77.0,867392.0,"[52, 14, 19, 24, 24, 29, 32]","[25, 15, 9, 20, 6, 10, 2, 9, 1, 1, 3, 0, 3, 1,...",human
3,https://pbs.twimg.com/profile_images/977012905...,http://abs.twimg.com/images/themes/theme6/bg.gif,False,4585,SaraCavolo,Sara Cavolo,NaN,"Brooklyn, NY",NaN,2009-09-01 04:52:30,...,7983,3,70601327,en,0.0,54.0,2996382.0,"[19, 34, 42, 41, 28, 17, 15]","[10, 17, 18, 5, 1, 0, 0, 0, 1, 0, 1, 2, 7, 18,...",human
4,https://pbs.twimg.com/profile_images/668449819...,http://abs.twimg.com/images/themes/theme14/bg.gif,True,15851,DavidHenaoModel,David Henao,Productor de TelevisiÃ³n - Embajador de @Tienda...,"Miami, FL",https://t.co/KPAyvqMibx,2010-01-27 17:17:23,...,20105,172,108999927,und,0.0,10.0,66477.0,"[33, 23, 25, 24, 34, 28, 33]","[7, 17, 5, 3, 1, 0, 0, 2, 0, 0, 2, 6, 14, 14, ...",human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34049,https://pbs.twimg.com/profile_images/712018970...,http://abs.twimg.com/images/themes/theme14/bg.gif,True,60100,AshAlexiss,Ashley Alexiss,"Self Made Plus Model, #BeautyIsNotASize, CEO @...","Los Angeles, CA",https://t.co/7nNQF782OV,2010-12-07 08:11:16,...,61532,876,223764929,en,8.0,47.0,1375535.0,"[28, 33, 25, 31, 22, 28, 33]","[7, 18, 13, 13, 16, 9, 6, 12, 6, 5, 1, 0, 0, 1...",human
34050,https://pbs.twimg.com/profile_images/141825399...,http://abs.twimg.com/images/themes/theme9/bg.gif,True,40277,ahmemis,Ahmet MemiÅŸ,Gazeteci/Journalist,NaN,https://t.co/0wll8Iymf4,2010-12-04 13:17:22,...,1,182,222789645,tr,0.0,0.0,15350.0,"[21, 67, 36, 18, 22, 18, 18]","[5, 0, 0, 0, 0, 1, 0, 2, 1, 6, 7, 9, 3, 7, 4, ...",human
34051,https://pbs.twimg.com/profile_images/142309872...,http://abs.twimg.com/images/themes/theme10/bg.gif,False,6679,Yuvannamontalvo,Yuvanna Montalvo,Modelo y Actriz Venezolana/ Venezuelan Model &...,NaN,NaN,2009-10-06 23:53:30,...,28,372,80438218,zxx,0.0,8.0,18899.0,"[25, 23, 26, 42, 29, 31, 24]","[23, 26, 21, 8, 1, 2, 0, 0, 0, 2, 0, 0, 4, 10,...",human
34052,https://pbs.twimg.com/profile_images/157735786...,http://abs.twimg.com/images/themes/theme1/bg.png,True,2580,IAmVarunTej,Varun Tej Konidela,Indian!...Actor!...Need no more!,Hyderabad,https://t.co/kJoeCCukod,2013-03-24 21:04:16,...,871,378,1296642259,en,1.0,4.0,145792.0,"[23, 22, 20, 85, 20, 14, 16]","[0, 2, 1, 26, 25, 17, 9, 7, 7, 7, 12, 5, 24, 6...",human
34053,https://pbs.twimg.com/profile_images/160574287...,http://abs.twimg.com/images/themes/theme11/bg.gif,False,3566,tiagopoeta,Tiago Poeta,"ðŸ“–Poeta, Autor, Escritor, AcadÃªmico. Dois Livro...",NaN,https://t.co/Wu7BylmZN9,2012-06-08 18:51:31,...,953,25,602979254,pt,14.0,52.0,1771.0,"[18, 35, 20, 12, 33, 54, 24]","[6, 4, 16, 1, 0, 0, 0, 0, 1, 1, 6, 4, 3, 18, 1...",human

# preprocessor

In [23]:

data['description'] = data['description'].apply(lambda x :TwitterPreprocessor(str(x)).fully_preprocess().text)
data['location'] = data['location'].apply(lambda x :TwitterPreprocessor(str(x)).partially_preprocess().text)
data

,image,background_image,verified,statuses,screen_name,display_name,description,location,url,date_joined,...,likes,lists,twitter_user_id,tweet_language,tweets_this_week,retweet_ratio,retweeted_count,tweets_by_day_of_week,tweets_by_hour_of_day,account_type
0,https://pbs.twimg.com/profile_images/145899544...,http://abs.twimg.com/images/themes/theme11/bg.gif,False,7098,paty_castroo,PatrÃ­cia Castro,,Maring Brasil,NaN,2009-07-04 22:41:51,...,12213,2,53779179,NaN,0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",bot
1,https://pbs.twimg.com/profile_images/632916759...,http://abs.twimg.com/images/themes/theme3/bg.gif,False,270,CBirckner,Carli Birckner,television producer emmy award winner disney e...,Baltimore MD,NaN,2010-01-17 22:54:19,...,1484,2,105916557,en,0.0,16.0,103418.0,"[9, 4, 12, 15, 5, 0, 3]","[1, 4, 5, 0, 1, 0, 1, 1, 0, 0, 4, 0, 0, 0, 3, ...",human
2,https://pbs.twimg.com/profile_images/158696080...,http://abs.twimg.com/images/themes/theme1/bg.png,False,14302,amf_jay,JD,self discovery,nan,NaN,2012-03-01 06:05:32,...,2958,2,509788597,en,0.0,77.0,867392.0,"[52, 14, 19, 24, 24, 29, 32]","[25, 15, 9, 20, 6, 10, 2, 9, 1, 1, 3, 0, 3, 1,...",human
3,https://pbs.twimg.com/profile_images/977012905...,http://abs.twimg.com/images/themes/theme6/bg.gif,False,4585,SaraCavolo,Sara Cavolo,,Brooklyn NY,NaN,2009-09-01 04:52:30,...,7983,3,70601327,en,0.0,54.0,2996382.0,"[19, 34, 42, 41, 28, 17, 15]","[10, 17, 18, 5, 1, 0, 0, 0, 1, 0, 1, 2, 7, 18,...",human
4,https://pbs.twimg.com/profile_images/668449819...,http://abs.twimg.com/images/themes/theme14/bg.gif,True,15851,DavidHenaoModel,David Henao,productor televisin embajador contacto dreamco...,Miami FL,https://t.co/KPAyvqMibx,2010-01-27 17:17:23,...,20105,172,108999927,und,0.0,10.0,66477.0,"[33, 23, 25, 24, 34, 28, 33]","[7, 17, 5, 3, 1, 0, 0, 2, 0, 0, 2, 6, 14, 14, ...",human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34049,https://pbs.twimg.com/profile_images/712018970...,http://abs.twimg.com/images/themes/theme14/bg.gif,True,60100,AshAlexiss,Ashley Alexiss,self made plus model siswim world traveler,Los Angeles CA,https://t.co/7nNQF782OV,2010-12-07 08:11:16,...,61532,876,223764929,en,8.0,47.0,1375535.0,"[28, 33, 25, 31, 22, 28, 33]","[7, 18, 13, 13, 16, 9, 6, 12, 6, 5, 1, 0, 0, 1...",human
34050,https://pbs.twimg.com/profile_images/141825399...,http://abs.twimg.com/images/themes/theme9/bg.gif,True,40277,ahmemis,Ahmet MemiÅŸ,gazetecijournalist,nan,https://t.co/0wll8Iymf4,2010-12-04 13:17:22,...,1,182,222789645,tr,0.0,0.0,15350.0,"[21, 67, 36, 18, 22, 18, 18]","[5, 0, 0, 0, 0, 1, 0, 2, 1, 6, 7, 9, 3, 7, 4, ...",human
34051,https://pbs.twimg.com/profile_images/142309872...,http://abs.twimg.com/images/themes/theme10/bg.gif,False,6679,Yuvannamontalvo,Yuvanna Montalvo,modelo actriz venezolana venezuelan model actr...,nan,NaN,2009-10-06 23:53:30,...,28,372,80438218,zxx,0.0,8.0,18899.0,"[25, 23, 26, 42, 29, 31, 24]","[23, 26, 21, 8, 1, 2, 0, 0, 0, 2, 0, 0, 4, 10,...",human
34052,https://pbs.twimg.com/profile_images/157735786...,http://abs.twimg.com/images/themes/theme1/bg.png,True,2580,IAmVarunTej,Varun Tej Konidela,indianactorneed,Hyderabad,https://t.co/kJoeCCukod,2013-03-24 21:04:16,...,871,378,1296642259,en,1.0,4.0,145792.0,"[23, 22, 20, 85, 20, 14, 16]","[0, 2, 1, 26, 25, 17, 9, 7, 7, 7, 12, 5, 24, 6...",human
34053,https://pbs.twimg.com/profile_images/160574287...,http://abs.twimg.com/images/themes/theme11/bg.gif,False,3566,tiagopoeta,Tiago Poeta,poeta autor escritor acadmico dois livros publ...,nan,https://t.co/Wu7BylmZN9,2012-06-08 18:51:31,...,953,25,602979254,pt,14.0,52.0,1771.0,"[18, 35, 20, 12, 33, 54, 24]","[6, 4, 16, 1, 0, 0, 0, 0, 1, 1, 6, 4, 3, 18, 1...",human

# save data

In [24]:
data.to_csv('cleandata.csv', index=False)

# descover data

In [26]:
data =data.reset_index()
data
df=pd.DataFrame(data)
df.head()

,index,image,background_image,verified,statuses,screen_name,display_name,description,location,url,...,likes,lists,twitter_user_id,tweet_language,tweets_this_week,retweet_ratio,retweeted_count,tweets_by_day_of_week,tweets_by_hour_of_day,account_type
0,0,https://pbs.twimg.com/profile_images/145899544...,http://abs.twimg.com/images/themes/theme11/bg.gif,False,7098,paty_castroo,PatrÃ­cia Castro,,Maring Brasil,NaN,...,12213,2,53779179,NaN,0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",bot
1,1,https://pbs.twimg.com/profile_images/632916759...,http://abs.twimg.com/images/themes/theme3/bg.gif,False,270,CBirckner,Carli Birckner,television producer emmy award winner disney e...,Baltimore MD,NaN,...,1484,2,105916557,en,0.0,16.0,103418.0,"[9, 4, 12, 15, 5, 0, 3]","[1, 4, 5, 0, 1, 0, 1, 1, 0, 0, 4, 0, 0, 0, 3, ...",human
2,2,https://pbs.twimg.com/profile_images/158696080...,http://abs.twimg.com/images/themes/theme1/bg.png,False,14302,amf_jay,JD,self discovery,nan,NaN,...,2958,2,509788597,en,0.0,77.0,867392.0,"[52, 14, 19, 24, 24, 29, 32]","[25, 15, 9, 20, 6, 10, 2, 9, 1, 1, 3, 0, 3, 1,...",human
3,3,https://pbs.twimg.com/profile_images/977012905...,http://abs.twimg.com/images/themes/theme6/bg.gif,False,4585,SaraCavolo,Sara Cavolo,,Brooklyn NY,NaN,...,7983,3,70601327,en,0.0,54.0,2996382.0,"[19, 34, 42, 41, 28, 17, 15]","[10, 17, 18, 5, 1, 0, 0, 0, 1, 0, 1, 2, 7, 18,...",human
4,4,https://pbs.twimg.com/profile_images/668449819...,http://abs.twimg.com/images/themes/theme14/bg.gif,True,15851,DavidHenaoModel,David Henao,productor televisin embajador contacto dreamco...,Miami FL,https://t.co/KPAyvqMibx,...,20105,172,108999927,und,0.0,10.0,66477.0,"[33, 23, 25, 24, 34, 28, 33]","[7, 17, 5, 3, 1, 0, 0, 2, 0, 0, 2, 6, 14, 14, ...",human

In [28]:
df["account_type"].value_counts()

human    22501
bot      11543
Name: account_type, dtype: int64

In [27]:
x = df.description.values.tolist()

vectorizer = CountVectorizer()
data1 = vectorizer.fit_transform(x)
data1

<34049x38702 sparse matrix of type '<class 'numpy.int64'>'
	with 163650 stored elements in Compressed Sparse Row format>