In [25]:
import pandas as pd
from Twitterpreprocessor import TwitterPreprocessor
from sklearn.feature_extraction.text import CountVectorizer
data = pd.read_csv("./twitterdataset/twitter_human_bots_dataset1.csv")
data =data.drop(['Unnamed: 0','geo_enabled','default_profile','default_profile_image','account_age_days','profile_image_path','profile_background_image_path','split'], axis=1)
data["account_type"].value_counts()

human    25013
bot      12425
Name: account_type, dtype: int64

# delet columns that contains nan values

In [26]:

#delet columns that contains nan values
data = data.dropna(axis=1, how='all')
#delet rows that contains nan values
# data = data.dropna()
data=data.drop_duplicates(subset="screen_name",keep='first')
data

,created_at,description,favourites_count,followers_count,friends_count,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_type
0,2009-07-04 22:41:51,NaN,5007,102,168,53779179,NaN,"Maring치, Brasil",https://abs.twimg.com/images/themes/theme11/bg...,https://pbs.twimg.com/profile_images/128969130...,paty_castroo,3974,False,0.978,bot
1,2010-01-17 22:54:19,Television producer. Emmy Award winner. Disney...,1038,60,128,105916557,en,Atlanta,https://abs.twimg.com/images/themes/theme3/bg.gif,https://pbs.twimg.com/profile_images/632916759...,CBirckner,259,False,0.067,human
2,2012-03-01 06:05:32,NaN,2257,599,449,509788597,NaN,unknown,https://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_images/128853844...,amf_jay,13627,False,4.406,human
3,2009-09-01 04:52:30,NaN,6407,116,334,70601327,NaN,"Brooklyn, NY",https://abs.twimg.com/images/themes/theme6/bg.gif,https://pbs.twimg.com/profile_images/977012905...,SaraCavolo,4432,False,1.107,human
4,2010-01-27 17:17:23,Productor de Televisi칩n - Embajador de @Tienda...,20866,74448,18,108999927,es,"Miami, FL",https://abs.twimg.com/images/themes/theme14/bg...,https://pbs.twimg.com/profile_images/668449819...,DavidHenaoModel,15870,True,4.116,human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37433,2010-12-07 08:11:16,"Self Made Plus Model, #BeautyIsNotASize, CEO @...",59660,257294,196,223764929,en,Los Angeles & Eastern PA,https://abs.twimg.com/images/themes/theme14/bg...,https://pbs.twimg.com/profile_images/712018970...,AshAlexiss,58680,True,16.562,human
37434,2010-12-04 13:17:22,Gazeteci/Journalist ...,0,74666,95,222789645,sv,unknown,https://abs.twimg.com/images/themes/theme9/bg.gif,https://pbs.twimg.com/profile_images/127353595...,ahmemis,41240,True,11.633,human
37435,2009-10-06 23:53:30,Modelo y Actriz Venezolana/ Venezuelan Model &...,28,255941,236,80438218,es,unknown,https://abs.twimg.com/images/themes/theme10/bg...,https://pbs.twimg.com/profile_images/114651544...,Yuvannamontalvo,6692,False,1.686,human
37436,2013-03-24 21:04:16,Indian!...Actor!...Need no more!,621,2678042,51,1296642259,en,Hyderabad,https://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_images/129570440...,IAmVarunTej,2042,True,0.755,human
37437,2011-01-10 04:01:02,"游닀Poeta, Autor, Escritor, dois Livros Publicado...",4526,471451,15967,236242525,pt,"Minas Gerais, Brasil",https://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_images/129213145...,tiagopoeta,11597,False,3.305,human

# preprocessor

In [32]:

data['description'] = data['description'].apply(lambda x :TwitterPreprocessor(str(x)).fully_preprocess().text)
data['location'] = data['location'].apply(lambda x :TwitterPreprocessor(str(x)).partially_preprocess().text)
data

,created_at,description,favourites_count,followers_count,friends_count,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_type
0,2009-07-04 22:41:51,,5007,102,168,53779179,NaN,Maring Brasil,https://abs.twimg.com/images/themes/theme11/bg...,https://pbs.twimg.com/profile_images/128969130...,paty_castroo,3974,False,0.978,bot
1,2010-01-17 22:54:19,television producer emmy award winner disney e...,1038,60,128,105916557,en,Atlanta,https://abs.twimg.com/images/themes/theme3/bg.gif,https://pbs.twimg.com/profile_images/632916759...,CBirckner,259,False,0.067,human
2,2012-03-01 06:05:32,,2257,599,449,509788597,NaN,unknown,https://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_images/128853844...,amf_jay,13627,False,4.406,human
3,2009-09-01 04:52:30,,6407,116,334,70601327,NaN,Brooklyn NY,https://abs.twimg.com/images/themes/theme6/bg.gif,https://pbs.twimg.com/profile_images/977012905...,SaraCavolo,4432,False,1.107,human
4,2010-01-27 17:17:23,productor televisin embajador contacto dreamco...,20866,74448,18,108999927,es,Miami FL,https://abs.twimg.com/images/themes/theme14/bg...,https://pbs.twimg.com/profile_images/668449819...,DavidHenaoModel,15870,True,4.116,human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37433,2010-12-07 08:11:16,self made plus model swim traveler wife,59660,257294,196,223764929,en,Los Angeles Eastern PA,https://abs.twimg.com/images/themes/theme14/bg...,https://pbs.twimg.com/profile_images/712018970...,AshAlexiss,58680,True,16.562,human
37434,2010-12-04 13:17:22,gazetecijournalist haberdarda koordinatr,0,74666,95,222789645,sv,unknown,https://abs.twimg.com/images/themes/theme9/bg.gif,https://pbs.twimg.com/profile_images/127353595...,ahmemis,41240,True,11.633,human
37435,2009-10-06 23:53:30,modelo actriz venezolana venezuelan model actr...,28,255941,236,80438218,es,unknown,https://abs.twimg.com/images/themes/theme10/bg...,https://pbs.twimg.com/profile_images/114651544...,Yuvannamontalvo,6692,False,1.686,human
37436,2013-03-24 21:04:16,indianactorneed,621,2678042,51,1296642259,en,Hyderabad,https://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_images/129570440...,IAmVarunTej,2042,True,0.755,human
37437,2011-01-10 04:01:02,poeta autor escritor dois livros publicados de...,4526,471451,15967,236242525,pt,Minas Gerais Brasil,https://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_images/129213145...,tiagopoeta,11597,False,3.305,human

# save data

In [33]:
data.to_csv('cleandata.csv', index=False)

# descover data

In [34]:
data =data.reset_index()
data
df=pd.DataFrame(data)
df.head()

,index,created_at,description,favourites_count,followers_count,friends_count,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_type
0,0,2009-07-04 22:41:51,,5007,102,168,53779179,NaN,Maring Brasil,https://abs.twimg.com/images/themes/theme11/bg...,https://pbs.twimg.com/profile_images/128969130...,paty_castroo,3974,False,0.978,bot
1,1,2010-01-17 22:54:19,television producer emmy award winner disney e...,1038,60,128,105916557,en,Atlanta,https://abs.twimg.com/images/themes/theme3/bg.gif,https://pbs.twimg.com/profile_images/632916759...,CBirckner,259,False,0.067,human
2,2,2012-03-01 06:05:32,,2257,599,449,509788597,NaN,unknown,https://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_images/128853844...,amf_jay,13627,False,4.406,human
3,3,2009-09-01 04:52:30,,6407,116,334,70601327,NaN,Brooklyn NY,https://abs.twimg.com/images/themes/theme6/bg.gif,https://pbs.twimg.com/profile_images/977012905...,SaraCavolo,4432,False,1.107,human
4,4,2010-01-27 17:17:23,productor televisin embajador contacto dreamco...,20866,74448,18,108999927,es,Miami FL,https://abs.twimg.com/images/themes/theme14/bg...,https://pbs.twimg.com/profile_images/668449819...,DavidHenaoModel,15870,True,4.116,human

In [35]:
df["account_type"].value_counts()

human    25013
bot      12425
Name: account_type, dtype: int64

In [39]:
x = df.description.values.tolist()


vectorizer = CountVectorizer()
data1 = vectorizer.fit_transform(x)
data1

<37438x42140 sparse matrix of type '<class 'numpy.int64'>'
	with 185490 stored elements in Compressed Sparse Row format>