In [24]:
import pandas as pd

import numpy as np
from datetime import datetime

import requests

In [25]:
data = pd.read_csv("./Data/data+descvf.csv")
# data=data.loc[:,['verified','statuses','location','date_joined','most_recent_post','following','followers','likes','lists','tweet_language','tweets_this_week','retweet_ratio','retweeted_count','URL works','userNameScore','avg_tweets_by_hour_of_day','avg_tweets_by_day_of_week','account_type']]

In [26]:
# data.rename(columns = {'retweet_ratio':'retweet'}, inplace = True)
# data['retweet'] = data['retweet'].multiply(2)
# data.to_csv('./Data/featuresfloatv3.csv', index=False)

In [27]:
data["url"].value_counts(dropna=True)

 0    20453
 1    13589
-1        2
Name: url, dtype: int64

crée une relation entre les annes de création (in years) et nombre de following

In [28]:
from datetime import datetime
# currentYear = datetime.now().year

# data['years_of_join']=0
# data['years_of_join']=currentYear - data.date_joined
# # data.loc[currentYear - data.date_joined<=1,'years_of_join']=-1
# # data.loc[(currentYear - data.date_joined>1) & (currentYear - data.date_joined<=5),'years_of_join']=0
# # data.loc[currentYear - data.date_joined>5,'years_of_join']=1
# data["years_of_join"].value_counts(dropna=True)

If a number is below the average, it means that it is lower than the typical or expected value of the data. 

Conversely, if a number is above the average, it means that it is higher than the typical or expected value of the data.

the avarage of following that a humain account can have

In [29]:
# following_years_avg =round(data[data['account_type'] == 1].groupby('years_of_join')['following'].mean(),0) 
# following_years_avg = following_years_avg.rename('following_avg')
# following_years_avg

following_years_avg =round(data[data['account_type'] == 1].groupby('date_joined')['following'].mean(),0) 
following_years_avg = following_years_avg.rename('following_avg')
following_years_avg

date_joined
2006     3196.0
2007     6124.0
2008    10543.0
2009     6225.0
2010     3906.0
2011     3494.0
2012     3318.0
2013     1828.0
2014     2103.0
2015     1280.0
2016      644.0
2017     1067.0
2018      584.0
2019      133.0
2020      175.0
2021       96.0
2022       71.0
2023       24.0
Name: following_avg, dtype: float64

In [30]:
data

,verified,statuses,location,date_joined,most_recent_post,following,followers,favourites,lists,tweet_language,tweets_this_week,retweet,retweeted_count,url,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,screen_name,description,account_type
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,0.0,0.0,0.0,0,0.428571,0.000,0.000,paty_castroo,NaN,0
1,0,270,1,2010,2022,131.0,55.0,1484,2,1,0.0,32.0,103418.0,0,0.642857,2.000,6.857,CBirckner,Television producer. Emmy Award winner. Disney...,1
2,0,14302,0,2012,2023,440.0,557.0,2958,2,1,0.0,154.0,867392.0,0,0.000000,8.083,27.714,amf_jay,self discovery 💡 🧠,1
3,0,4585,1,2009,2023,288.0,111.0,7983,3,1,0.0,108.0,2996382.0,0,0.909091,8.167,28.000,SaraCavolo,NaN,1
4,1,15851,1,2010,2022,39.0,71644.0,20105,172,2,0.0,20.0,66477.0,1,0.600000,8.333,28.571,DavidHenaoModel,Productor de Televisión - Embajador de @Tienda...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,1,60100,1,2010,2023,181.0,417832.0,61532,876,1,8.0,94.0,1375535.0,1,0.714286,8.333,28.571,AshAlexiss,"Self Made Plus Model, #BeautyIsNotASize, CEO @...",1
34040,1,40277,0,2010,2023,129.0,80306.0,1,182,8,0.0,0.0,15350.0,1,0.400000,8.333,28.571,ahmemis,Gazeteci/Journalist,1
34041,0,6679,0,2009,2022,231.0,248542.0,28,372,4,0.0,16.0,18899.0,0,0.875000,8.333,28.571,Yuvannamontalvo,Modelo y Actriz Venezolana/ Venezuelan Model &...,1
34042,1,2580,1,2013,2023,49.0,3383768.0,871,378,1,1.0,8.0,145792.0,1,0.277778,8.333,28.571,IAmVarunTej,Indian!...Actor!...Need no more!,1
34043,0,3566,0,2012,2023,21724.0,23603.0,953,25,9,14.0,104.0,1771.0,1,0.727273,8.167,28.000,tiagopoeta,"📖Poeta, Autor, Escritor, Acadêmico. Dois Livro...",1

In [31]:

data2=data.merge(following_years_avg, on='date_joined')

data2['following/years']=data2.following_avg-data2.following
# data.loc[data.followers==data.followers_avg,'followers/years']=0
# data.loc[data.following>data.following_avg,'following/years']=-1

In [32]:
data2=data2.drop(labels=['following_avg'],axis=1)
data2

,verified,statuses,location,date_joined,most_recent_post,following,followers,favourites,lists,tweet_language,...,retweet,retweeted_count,url,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,screen_name,description,account_type,following/years
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,...,0.0,0.0,0,0.428571,0.000,0.000,paty_castroo,NaN,0,6059.0
1,0,4585,1,2009,2023,288.0,111.0,7983,3,1,...,108.0,2996382.0,0,0.909091,8.167,28.000,SaraCavolo,NaN,1,5937.0
2,0,5538,1,2009,2021,493.0,466.0,2640,2,6,...,128.0,396415.0,0,0.200000,5.625,19.286,pichapriska,claw behind the paw|Boedoet'12|@GeoUnpad12,0,5732.0
3,0,12209,0,2009,2018,4614.0,557.0,1123,6,1,...,172.0,94958.0,0,0.000000,7.208,24.714,veganicecream,NaN,0,1611.0
4,0,2139,0,2009,2022,92.0,10.0,1543,0,1,...,136.0,386047.0,0,1.000000,6.417,22.000,sp3n,NaN,0,6133.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,1,266292,1,2006,2023,87773.0,11123620.0,22733,25126,1,...,0.0,28.0,1,0.562500,8.333,28.571,Starbucks,Make today a good day. 💚,0,-84577.0
34040,0,8614,1,2006,2023,2910.0,1198.0,3381,89,1,...,70.0,94915.0,1,0.384615,8.250,28.286,georgie,"R&D Worker/ Manager. Tall. Blue eyes, Guinness.",1,286.0
34041,1,217721,1,2006,2023,695.0,316616.0,36299,22683,1,...,12.0,1085.0,1,0.346154,8.333,28.571,chrisbrogan,"Chief of Staff: Appfire. Strategic advisor, in...",1,2501.0
34042,1,79000,1,2006,2023,3639.0,82481.0,18918,4011,1,...,34.0,215997.0,1,0.200000,8.333,28.571,dens,"I like to build things (@Foursquare, @StreetFC...",1,-443.0
34043,0,23828,1,2006,2023,700.0,2249.0,2880,117,1,...,28.0,3381.0,1,0.615385,8.333,28.571,ryanmcraver,"Retail junkie for @lego_group, @newbalance, @f...",1,2496.0

reindex

In [33]:

target_column = 'account_type'
target_column1 = 'description'

column_order = [col for col in data2.columns if col != target_column and col != target_column1] + [target_column1] + [target_column]

data = data2.reindex(columns=column_order)

In [34]:
data.columns

Index(['verified', 'statuses', 'location', 'date_joined', 'most_recent_post',
       'following', 'followers', 'favourites', 'lists', 'tweet_language',
       'tweets_this_week', 'retweet', 'retweeted_count', 'url',
       'userNameScore', 'avg_tweets_by_hour_of_day',
       'avg_tweets_by_day_of_week', 'screen_name', 'following/years',
       'description', 'account_type'],
      dtype='object')

In [35]:
data

,verified,statuses,location,date_joined,most_recent_post,following,followers,favourites,lists,tweet_language,...,retweet,retweeted_count,url,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,screen_name,following/years,description,account_type
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,...,0.0,0.0,0,0.428571,0.000,0.000,paty_castroo,6059.0,NaN,0
1,0,4585,1,2009,2023,288.0,111.0,7983,3,1,...,108.0,2996382.0,0,0.909091,8.167,28.000,SaraCavolo,5937.0,NaN,1
2,0,5538,1,2009,2021,493.0,466.0,2640,2,6,...,128.0,396415.0,0,0.200000,5.625,19.286,pichapriska,5732.0,claw behind the paw|Boedoet'12|@GeoUnpad12,0
3,0,12209,0,2009,2018,4614.0,557.0,1123,6,1,...,172.0,94958.0,0,0.000000,7.208,24.714,veganicecream,1611.0,NaN,0
4,0,2139,0,2009,2022,92.0,10.0,1543,0,1,...,136.0,386047.0,0,1.000000,6.417,22.000,sp3n,6133.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,1,266292,1,2006,2023,87773.0,11123620.0,22733,25126,1,...,0.0,28.0,1,0.562500,8.333,28.571,Starbucks,-84577.0,Make today a good day. 💚,0
34040,0,8614,1,2006,2023,2910.0,1198.0,3381,89,1,...,70.0,94915.0,1,0.384615,8.250,28.286,georgie,286.0,"R&D Worker/ Manager. Tall. Blue eyes, Guinness.",1
34041,1,217721,1,2006,2023,695.0,316616.0,36299,22683,1,...,12.0,1085.0,1,0.346154,8.333,28.571,chrisbrogan,2501.0,"Chief of Staff: Appfire. Strategic advisor, in...",1
34042,1,79000,1,2006,2023,3639.0,82481.0,18918,4011,1,...,34.0,215997.0,1,0.200000,8.333,28.571,dens,-443.0,"I like to build things (@Foursquare, @StreetFC...",1
34043,0,23828,1,2006,2023,700.0,2249.0,2880,117,1,...,28.0,3381.0,1,0.615385,8.333,28.571,ryanmcraver,2496.0,"Retail junkie for @lego_group, @newbalance, @f...",1

relation entre followers et years_of_last_post

In [36]:
currentYear = datetime.now().year

# data['years_of_last_post']=0
# # 2023
# data.loc[currentYear - data.most_recent_post==0,'years_of_last_post']=1
# # 2022 2021
# data.loc[(currentYear - data.most_recent_post>0) & (currentYear - data.date_joined<=2),'years_of_last_post']=0
# # 2020 ....
# data.loc[currentYear - data.most_recent_post>2,'years_of_last_post']=-1
# data["years_of_last_post"].value_counts(dropna=True)

In [37]:


followers_years_avg =round(data[data['account_type'] == 1].groupby('most_recent_post')['followers'].mean(),0)
followers_years_avg = followers_years_avg.rename('followers_avg')
followers_years_avg

most_recent_post
0        45658.0
2009        64.0
2010     86142.0
2011     27997.0
2012    489907.0
2013    333297.0
2014    419496.0
2015    133664.0
2016     73527.0
2017     13861.0
2018    151474.0
2019    149614.0
2020    268418.0
2021    357416.0
2022    533264.0
2023    787054.0
Name: followers_avg, dtype: float64

In [38]:
data2=data.merge(followers_years_avg, on='most_recent_post')

data2['followers/lastpost']=data2.followers_avg-data2.followers
# data.loc[data.followers==data.followers_avg,'followers/years']=0
# data.loc[data.followers>data.followers_avg,'followers/lastpost']=-1

In [39]:
data2=data2.drop(labels=['followers_avg'],axis=1)
data2

,verified,statuses,location,date_joined,most_recent_post,following,followers,favourites,lists,tweet_language,...,retweeted_count,url,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,screen_name,following/years,description,account_type,followers/lastpost
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,...,0.0,0,0.428571,0.000,0.000,paty_castroo,6059.0,NaN,0,45533.0
1,0,79503,1,2009,0,266.0,511.0,23580,7,0,...,0.0,0,0.555556,0.000,0.000,JuuSimoes,5959.0,"• Design Manager • Um pouco viajadora, um pou...",1,45147.0
2,0,20744,1,2009,0,751.0,737.0,140700,5,0,...,0.0,0,0.533333,0.000,0.000,AmrinderSingh__,5474.0,always be kind — some stranger somewhere still...,1,44921.0
3,0,9613,0,2009,0,222.0,219.0,9501,4,0,...,0.0,0,0.000000,0.000,0.000,melrata,6003.0,NaN,1,45439.0
4,0,33752,1,2009,0,1655.0,319.0,9412,18,0,...,0.0,0,0.222222,0.000,0.000,antman8o8,4570.0,氣 𝗕𝗘𝗶𝗻𝗴 𝗠𝘆𝘀𝗲𝗹𝗳 武士道\r\n𝙝𝙚 / 𝙝𝙞𝙢 \r\n@RideOnewhe...,1,45339.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,0,187,0,2011,2014,0.0,0.0,33,0,22,...,0.0,0,0.000000,7.000,24.000,angughyeon,3494.0,NaN,1,419496.0
34040,0,409,0,2014,2014,0.0,0.0,2,0,1,...,0.0,0,0.700000,8.292,28.429,JoeGomes19,2103.0,NaN,1,419496.0
34041,0,9,1,2014,2014,16.0,13520.0,0,9,1,...,107.0,0,0.538462,0.375,1.286,nailanayem_bd,2087.0,"THIS IS NAILA NAYEM, WELCOME TO MY OFFICIAL TW...",1,405976.0
34042,0,4,0,2014,2014,0.0,113.0,554,13,1,...,0.0,1,0.928571,0.083,0.286,Carolyn_Kaleko,2103.0,Sounds like calico. Marketing contractor and s...,1,419383.0
34043,0,289,0,2008,2014,0.0,15.0,1,0,1,...,0.0,0,1.000000,8.292,28.429,katiemae47,10543.0,NaN,1,419481.0

In [40]:

target_column = 'account_type'
target_column1 = 'description'
target_column2 = 'screen_name'
# Create a list of all column names in the desired order
column_order = [col for col in data2.columns if col != target_column and col != target_column1 and col != target_column2] + [target_column1] +  [target_column2] + [target_column]

# Use the 'reindex()' method to reorder the columns
data = data2.reindex(columns=column_order)

In [41]:
data

,verified,statuses,location,date_joined,most_recent_post,following,followers,favourites,lists,tweet_language,...,retweeted_count,url,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,following/years,followers/lastpost,description,screen_name,account_type
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,...,0.0,0,0.428571,0.000,0.000,6059.0,45533.0,NaN,paty_castroo,0
1,0,79503,1,2009,0,266.0,511.0,23580,7,0,...,0.0,0,0.555556,0.000,0.000,5959.0,45147.0,"• Design Manager • Um pouco viajadora, um pou...",JuuSimoes,1
2,0,20744,1,2009,0,751.0,737.0,140700,5,0,...,0.0,0,0.533333,0.000,0.000,5474.0,44921.0,always be kind — some stranger somewhere still...,AmrinderSingh__,1
3,0,9613,0,2009,0,222.0,219.0,9501,4,0,...,0.0,0,0.000000,0.000,0.000,6003.0,45439.0,NaN,melrata,1
4,0,33752,1,2009,0,1655.0,319.0,9412,18,0,...,0.0,0,0.222222,0.000,0.000,4570.0,45339.0,氣 𝗕𝗘𝗶𝗻𝗴 𝗠𝘆𝘀𝗲𝗹𝗳 武士道\r\n𝙝𝙚 / 𝙝𝙞𝙢 \r\n@RideOnewhe...,antman8o8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,0,187,0,2011,2014,0.0,0.0,33,0,22,...,0.0,0,0.000000,7.000,24.000,3494.0,419496.0,NaN,angughyeon,1
34040,0,409,0,2014,2014,0.0,0.0,2,0,1,...,0.0,0,0.700000,8.292,28.429,2103.0,419496.0,NaN,JoeGomes19,1
34041,0,9,1,2014,2014,16.0,13520.0,0,9,1,...,107.0,0,0.538462,0.375,1.286,2087.0,405976.0,"THIS IS NAILA NAYEM, WELCOME TO MY OFFICIAL TW...",nailanayem_bd,1
34042,0,4,0,2014,2014,0.0,113.0,554,13,1,...,0.0,1,0.928571,0.083,0.286,2103.0,419383.0,Sounds like calico. Marketing contractor and s...,Carolyn_Kaleko,1
34043,0,289,0,2008,2014,0.0,15.0,1,0,1,...,0.0,0,1.000000,8.292,28.429,10543.0,419481.0,NaN,katiemae47,1

In [42]:
data.columns

Index(['verified', 'statuses', 'location', 'date_joined', 'most_recent_post',
       'following', 'followers', 'favourites', 'lists', 'tweet_language',
       'tweets_this_week', 'retweet', 'retweeted_count', 'url',
       'userNameScore', 'avg_tweets_by_hour_of_day',
       'avg_tweets_by_day_of_week', 'following/years', 'followers/lastpost',
       'description', 'screen_name', 'account_type'],
      dtype='object')

engagment_rate

In [43]:
data['engagment_rate'] = data.apply(lambda row: round(((row['retweeted_count'] ) / (1 if row['followers'] == 0 else row['followers'] )) * 100,2), axis=1)

In [44]:
# Assume 'data' is a Pandas DataFrame containing the column 'target_column'
target_column = 'account_type'
target_column1 = 'description'
target_column2 = 'screen_name'
# Create a list of all column names in the desired order
column_order = [col for col in data.columns if col != target_column and col != target_column1 and col != target_column2] + [target_column1] +  [target_column2] + [target_column]

# Use the 'reindex()' method to reorder the columns
data = data.reindex(columns=column_order)

In [45]:
data

,verified,statuses,location,date_joined,most_recent_post,following,followers,favourites,lists,tweet_language,...,url,userNameScore,avg_tweets_by_hour_of_day,avg_tweets_by_day_of_week,following/years,followers/lastpost,engagment_rate,description,screen_name,account_type
0,0,7098,1,2009,0,166.0,125.0,12213,2,0,...,0,0.428571,0.000,0.000,6059.0,45533.0,0.00,NaN,paty_castroo,0
1,0,79503,1,2009,0,266.0,511.0,23580,7,0,...,0,0.555556,0.000,0.000,5959.0,45147.0,0.00,"• Design Manager • Um pouco viajadora, um pou...",JuuSimoes,1
2,0,20744,1,2009,0,751.0,737.0,140700,5,0,...,0,0.533333,0.000,0.000,5474.0,44921.0,0.00,always be kind — some stranger somewhere still...,AmrinderSingh__,1
3,0,9613,0,2009,0,222.0,219.0,9501,4,0,...,0,0.000000,0.000,0.000,6003.0,45439.0,0.00,NaN,melrata,1
4,0,33752,1,2009,0,1655.0,319.0,9412,18,0,...,0,0.222222,0.000,0.000,4570.0,45339.0,0.00,氣 𝗕𝗘𝗶𝗻𝗴 𝗠𝘆𝘀𝗲𝗹𝗳 武士道\r\n𝙝𝙚 / 𝙝𝙞𝙢 \r\n@RideOnewhe...,antman8o8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34039,0,187,0,2011,2014,0.0,0.0,33,0,22,...,0,0.000000,7.000,24.000,3494.0,419496.0,0.00,NaN,angughyeon,1
34040,0,409,0,2014,2014,0.0,0.0,2,0,1,...,0,0.700000,8.292,28.429,2103.0,419496.0,0.00,NaN,JoeGomes19,1
34041,0,9,1,2014,2014,16.0,13520.0,0,9,1,...,0,0.538462,0.375,1.286,2087.0,405976.0,0.79,"THIS IS NAILA NAYEM, WELCOME TO MY OFFICIAL TW...",nailanayem_bd,1
34042,0,4,0,2014,2014,0.0,113.0,554,13,1,...,1,0.928571,0.083,0.286,2103.0,419383.0,0.00,Sounds like calico. Marketing contractor and s...,Carolyn_Kaleko,1
34043,0,289,0,2008,2014,0.0,15.0,1,0,1,...,0,1.000000,8.292,28.429,10543.0,419481.0,0.00,NaN,katiemae47,1

In [46]:
data.to_csv("./Data/data+column_relation.csv",index=False)

In [ ]:
following_years_avg =round(data[data['account_type'] == 1].groupby('date_joined')['following'].mean(),0) 
following_years_avg = following_years_avg.rename('following_avg')
following_years_avg

following_years=following_years_avg[date_joined]-x.following

In [ ]:
followers_years_avg = data[data['account_type'] == 1].groupby('most_recent_post')['followers'].mean()
followers_years_avg = followers_years_avg.rename('followers_avg')
followers_years_avg

followers_lastpost=followers_years_avg[most_recent_post]-x.followers